html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /* Margin bottom by footer height for dynamic content that cant be calculated at the page load time */
     margin-bottom: 3em;
}

.bold {
  font-weight: 400;
}

span.bold {
  font-weight: bold;
}

a.bold {
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
}

[data-toggle="tooltip"] {
  border-bottom: 1px dotted black;
}

.row{
  display:flex;
  align-items:center;
}
div.progress{
  margin:0;
}

div.topa {
  align-items:normal;
}

.footer {
  /* Set the fixed height of the footer here */
  margine-top: 1em;
  height: 3em;
  background-color: #f5f5f5;
}

.no-tooltip-underline {
  border-bottom: solid !important;
  border-bottom-width: 1px !important;
}
